@font-face {
  font-family: "Poppins-Regular";
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Calistoga-Regular";
  src: url("/public/fonts/Calistoga-Regular.ttf");
}

@import "tailwindcss";

@theme {
  --color-orange-primary: #ff8c68;
  --color-orange-light: #f5ac9a;
  --color-grey-midtone: #e6dce5;
  --color-blue-secondary: #94b3e6;
  --color-blue-midtone: #d2e1fc;
  --color-blue-light: #e3ecff;
  --color-blue-white: #f6f8ff;
  --color-pastel-white: #fff6ea;
  --color-grey-fonts: #474259;
  --color-blue-dark: #1f1842;

  --font-headline: "Calistoga-Regular", serif;
  --font-base: "Poppins-Regular", sans-serif;
  --font-buttons: "Poppins-Medium", sans-serif;
}

@layer base {
  * {
    @apply font-base;
    @apply text-blue-dark;
    @apply box-border;
    @apply m-0;
    @apply p-0;
  }

  html {
    @apply bg-blue-white;
  }

  body {
    @apply m-0;
    @apply flex;
    @apply min-w-80;
    @apply min-h-full;
    @apply w-full;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-headline;
    @apply text-orange-primary;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-2xl;
  }

  a {
    @apply no-underline;
  }

  ul {
    @apply list-none;
  }
}
